<div class="modal-content" style="border-radius: 10px">
    <div class="modal-header">
        <h5 class="modal-title text-dark" id="staticBackdropLabel">О проекте</h5>
        <button type="button" class="close btn-sm" ng-click="close()"><i class="fas fa-times small"></i> </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col d-flex flex-column">
                <div class="row" style="margin-bottom: 10px">
                  <span class="badge badge-success rounded {{project.statusClass}}" style="margin-left: 12px">{{project.projectStatus}}</span>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="text-dark">Название проекта</h6>
                        <p style="color: grey"> {{project.projectName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="text-dark">Описание проекта</h6>
                        <p style="color: grey">
                            {{project.description}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="text-dark">ВУЗ</h6>
                        <p style="color: grey">{{project.universityName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="text-dark">Назначенные студенты</h6>
                        <p style="color: grey">{{project.students.join(", ")}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="text-dark">Сроки</h6>
                        <p style="color: grey">{{project.dateStart}} - {{project.dateEnd}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light px-3 py-2 ml-0 rounded" ng-click="cancel()" >Отказать</button>
        <button type="button" class="btn btn-primary px-3 py-2 ml-0 rounded" ng-click="cancel()" style="background-color: #7749f8">Подтвердить</button>
    </div>
</div>