<div class="container p-3" ng-show="!user && loaded">
    <div>Недостаточно учетных данных <a href="#/main">На главную</a> </div>
</div>
<div ng-show="user" class="container" style="margin-top: 50px;">
    <div class="row mt-2" style="margin-bottom: 20px;">
        <div class="col-6">
            <div class="d-inline-block">
                <h1 class="text-dark" style="font-family: Montserrat, sans-serif;">Аттестация {{(user.userTypeId == adminUserTypeId) ?'стажёров' : 'студентов' }}</h1>

            </div>
        </div>
        <div class="col-6"  >
            <div class="text-right">
                <button class="btn text-dark px-3 py-2 ml-0"><i class="fas fa-filter"></i></button>
            </div>
        </div>
    </div>
    <div class="row" style="height: 92%;">
        <div class="col-12" style="margin-right: 24px;">
            <div class="card mb-2">
                <div class="card-body" style="padding: 0px;">
                    <div class="table-responsive" ng-if="studentsForEstimate && studentsForEstimate.length>0">
                        <table class="table mb-0">
                            <thead>
                            <tr style="height: 65px;">
                                <th class="text-dark bold pointer" width="50">№</th>
                                <th class="text-dark bold pointer">ФИО</th>
                                <th class="text-dark bold pointer">Компетенция</th>
                                <th class="text-dark bold pointer"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="student in studentsForEstimate | orderObjectBy:sortType:reverse">
                                <td>{{$index+1}}</td>
                                <td>
                                    {{student.name}}
                                </td>
                                <td>
                                    {{student.competenceList.join(", ")}}
                                </td>
                                <td class="text-right">
                                    <button ng-click="approve(student)" class="btn btn-outline-primary px-3 py-2 ml-0 rounded">Подтвердить</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
